<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptonite📈</title>
    <link href="./style.css" rel="stylesheet">
</head>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="/Cryptologo.png" alt="logo">
        </div>
        <div class="navselect">
            <div class="info">First</div>
            <div class="info">Second</div>
            <div class="info">Third</div>
            <div class="info">Fourth</div>
        </div>
    </div>
</header>
<script src="/js/gsap.js"></script>
</html>
