/* Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

@keyframes appear {
    from{
        opacity: 0.5;
        scale: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0%);
    }
}


html, body{
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Header */

header{
    height: 10%;
    width: 100%;
}

.navbar{
    border-bottom: 1px solid white;
    height: 100%;
    width: 100%;
    display: flex;
}

.logo{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
}

.logo img{
    margin-left: 10%;
    height: 80%;
    width: auto;
}

.navselect{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info{
    color: white;
}

/* Main Page */

.page-1
{
    z-index: 0;
    height: 90%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(50px);
}

.title{
    z-index: 10;
    text-align: center;
    font-size: 5rem;
    width: 50%;
}

.body{
    margin-top: -7%;
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
}

.see{
    margin-top: -10%;
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: center;
}

button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
}
.fly{
    position: absolute;
    z-index: -10;
}

.bitfly{
    margin-left: -900px;
    margin-bottom: 200px;
    animation: fadeIn 10s forwards;
}

.ethfly{
    margin-left: 900px;
    margin-bottom: -210px;
    animation: fadeIn 10s forwards;
}

/* Page-2 */
#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color:black;
    z-index: 9;
    overflow: hidden;
}

#top-h{
    position: absolute;
    font-weight: bolder;
    font-size: 9rem;
    left: 10%;
    bottom: -28%;
}

#bottom-h{
    position: absolute;
    font-weight: bolder;
    font-size: 9rem;
    left: 10%;
    top: -28%;
}

#center{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 200vh;
    transform-origin: center;
    background-color:rgb(12, 12, 12);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color:black;
    overflow: hidden;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100vh;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #fff;
    gap: 4vh;
}

.heading{
    font-size: 5rem;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 80%;
    width: 70%;
    padding-left: 5%;
}

.data{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 60%; */
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    border-radius: 5%;
}

/* Top Coins */
.topcoin{
    background-color: rgb(53 58 62);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 10%;
    margin-top: 5%;
}

#currency{
    width: 100%;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    height: 6.9vh;
    border-radius: 10px;
    border: solid 1px white;
}

.form{
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    flex-wrap: nowrap;
}

.btn{
    color: #fff;
    height: 1.5rem;
    width: 3.5rem;
    background-color: orangered;
    font-weight: bolder;
}

.selector{
    height: 10%;
    width: 100%;
}

#database{
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    border: solid 3px white;
}

.bigbold{
    font-size: 1.3rem;
    font-weight: bolder;
}

.row{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    gap: 10px;
    grid-template-rows: 10%;
}

.uprow{
    text-decoration:underline;
}

.rd{
    height: 2%;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 2%;
    gap: 1%;
    justify-content: center;
}

.coinie{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

a{
    color: #fff;
}

.coinie img{
    height: 20px;
    width: auto;
}

.green{
    color: greenyellow;
}

.red{
    color: red;
}

.grey{
    color: white;
}